<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" (click)="onAddInventory()">Add inventory</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inventory of inventories; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{inventory.id}}</td>
                <td>{{inventory.name}}</td>
                <td>{{inventory.location}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>