<div class="sidemenu">
    <h2>Sidebar menu</h2>

    <nav class="nav nav-pills flex-column">
        <a routerLink="/inventories" routerLinkActive="active" class="nav-link" href="#">Inventories</a>
        <a routerLink="/products" routerLinkActive="active" class="nav-link" href="#">Products</a>
    </nav>
</div>